<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.foodreport.domain.member.model.dao.MemberMapper">
	
	<!-- 회원가입 -->
	<insert id="signUp"
		parameterType="MemberVO">
		INSERT 
		  INTO 
		  	   FR_MEMBER 
		VALUES 
			   (
			   SEQ_MEMBER_NO.NEXTVAL
			 , #{email}
			 , #{password}
			 , #{nickname}
			 , #{phone}
			 , #{introduce}
			 , SYSDATE
			 , NULL
			 , NULL
			 , 'Y'
			 , 'ROLE_USER'
			   )
	</insert>
	
	<!-- 이메일 중복 확인 -->
	<select id="countByEmail"
			resultType="int" parameterType="string">		
		SELECT 
		       COUNT(*) 
		  FROM 
		  	   FR_MEMBER 
		 WHERE 
		 	   EMAIL = #{email}
	</select>
	
	<!-- 로그인 -->
	<select id="loadUser"
			resultType="MemberDTO" parameterType="string">	
		SELECT 
			   MEMBER_NO memberNo
		     , EMAIL email
		 	 , PASSWORD password
		 	 , NICKNAME nickname
		 	 , PHONE phone
		 	 , status
		 	 , role
	  	  FROM 
	           FR_MEMBER
	 	 WHERE 
	       	   EMAIL = #{username}
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="update"
			parameterType="Map">
		UPDATE 
			   FR_MEMBER 
		   SET 
		   	   PASSWORD = #{newPassword} 
		 WHERE 
		       EMAIL = #{email}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="deleteMember"
			parameterType="String">
		UPDATE  
		  	   FR_MEMBER
		   SET
		       STATUS = 'N' 
		 WHERE 
		 	   EMAIL = #{email}		
	</update>
	
	<!-- 로그인 검증용 -->
	<select id="loadUserByMemberNo"
			resultType="MemberDTO" parameterType="Long">	
		SELECT 
			   MEMBER_NO memberNo
		     , EMAIL email
		 	 , PASSWORD password
		 	 , NICKNAME nickname
		 	 , PHONE phone
		 	 , status
		 	 , role
	  	  FROM 
	           FR_MEMBER
	 	 WHERE 
	       	   MEMBER_NO = #{memberNo}
	</select>


	
	
</mapper>