<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.foodreport.domain.member.model.dao.MemberMapper">
	
	<!-- 회원가입 -->
	<insert id="signUp"
		parameterType="MemberVO">
		INSERT 
		  INTO 
		  	   FR_MEMBER 
		VALUES 
			   (
			   SEQ_MEMBER_NO.NEXTVAL
			 , #{email}
			 , #{password}
			 , #{nickname}
			 , #{phone}
			 , #{introduce}
			 , SYSDATE
			 , NULL
			 , NULL
			 , 'Y'
			 , 'ROLE_USER'
			   )
	</insert>
	
	<!-- 이메일 중복 확인 -->
	<select id="countByEmail"
			resultType="int" parameterType="string">		
		SELECT 
		       COUNT(*) 
		  FROM 
		  	   FR_MEMBER 
		 WHERE 
		 	   EMAIL = #{email}
	</select>
	
	<!-- 로그인 -->
	<select id="loadUser"
			resultType="MemberDTO" parameterType="string">	
		SELECT 
			   MEMBER_NO memberNo
		     , EMAIL email
		 	 , PASSWORD password
		 	 , NICKNAME nickname
		 	 , PHONE phone
		 	 , status
		 	 , role
	  	  FROM 
	           FR_MEMBER
	 	 WHERE 
	       	   EMAIL = #{username}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePassword"
			parameterType="Map">
		UPDATE 
			   FR_MEMBER 
		   SET 
		   	   PASSWORD = #{newPassword} 
		 WHERE 
		       EMAIL = #{email}
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="deleteMember"
			parameterType="String">
		UPDATE  
		  	   FR_MEMBER
		   SET
		       STATUS = 'N' 
		 WHERE 
		 	   EMAIL = #{email}		
	</update>
	
	<!-- 로그인 검증용 -->
	<select id="loadUserByMemberNo"
			resultType="MemberDTO" parameterType="Long">	
		SELECT 
			   MEMBER_NO memberNo
		     , EMAIL email
		 	 , PASSWORD password
		 	 , NICKNAME nickname
		 	 , PHONE phone
		 	 , status
		 	 , role
	  	  FROM 
	           FR_MEMBER
	 	 WHERE 
	       	   MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 프로필 이미지 저장 -->
	<insert id="saveImage" 
				parameterType="MemberImage">
		INSERT
		  INTO
		       FR_MEMBER_IMAGE
		       (
		       IMAGE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , MEMBER_NO
		     , CREATE_DATE
		     , STATUS
		       )
		VALUES
		       (
		       SEQ_MEMBER_IMAGE_NO.NEXTVAL
		     , #{originName}
		     , #{changeName}
		     , #{refMemberNo}
		     , SYSDATE
		     , 'Y'
		       )
	</insert>
	
	<!-- 프로필 이미지 수정-->
	<update id="updateImage">
		UPDATE 
			   FR_MEMBER_IMAGE
		   SET 
		   	   ORIGIN_NAME = #{originName}
		  	 , CHANGE_NAME = #{changeName}
		  	 , UPDATE_DATE = SYSDATE
		 WHERE
		 	   MEMBER_NO = #{refMemberNo}		
		
	</update>
	
	<!-- 프로필 이미지 삭제 -->
	<update id="deleteImage" 
				parameterType="long">
		UPDATE
		       FR_MEMBER_IMAGE
		   SET
		       STATUS = 'N'
		     , DELETE_DATE = SYSDATE
		 WHERE
		       IMAGE_NO = #{imageNo}
		   AND
		       STATUS = 'Y'
	</update>

	<!-- 회원 정보 수정 -->
	<update id="updateMember">
		
		UPDATE 
			   FR_MEMBER
		   SET 
		   	   NICKNAME = #{nackname}
		   	 , PHONE = #{phone}
		   	 , INTRODUCE = #{introduce}
		   	 , UPDATE_DATE = SYSDATE
		 WHERE
		 	   MEMBER_NO = #{memberNo}		
		
	</update>

	
	
</mapper>