<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.foodreport.domain.place.model.dao.PlaceMapper">
	
	<select id="countByPlaces" resultType="_int" parameterType="string">
		SELECT
		       COUNT(*)
		  FROM
		       FR_PLACE
	     WHERE
	           STATUS = 'Y'
		  <if test="keyword != ''">
		   AND
	           PLACE_TITLE LIKE '%' || #{keyword} || '%'
		  </if>
		
	</select>
	
	<resultMap id="findAllPlaces" type="PlaceDTO">
		<id column="placeNo" property="placeNo"/>
		<result column="placeTitle" property="placeTitle"/>
		<result column="placeContent" property="placeContent"/>
		<result column="placeWriter" property="placeWriter" />
		<result column="viewCount" property="viewCount"/>
		<result column="likes" property="likes" />
		<result column="placeCreateDate" property="createDate" />
		<collection property="placeImages" ofType="PlaceImageDTO">
			<id column="imageNo" property="imageNo"/>
			<result column="changeName" property="changeName"/>
			<result column="imageLevel" property="imageLevel"/>
		</collection>
		<collection property="tags" ofType="TagDTO">
			<id column="tagNo" property="tagNo"/>
			<result column="tagTitle" property="tagTitle"/>
			<result column="tagContent" property="tagContent"/>
		</collection>
	</resultMap>
	
	
	<select id="findAllPlaces" resultMap="findAllPlaces" parameterType="map">
		SELECT
		       PLACE.PLACE_NO placeNo
		     , PLACE_TITLE placeTitle
		     , PLACE_CONTENT placeContent
		     , NICKNAME placeWriter
		     , VIEW_COUNT viewCount
		     , (SELECT 
		               COUNT(*)
		          FROM
		               FR_PLACE_LIKE
		         WHERE
		               PLACE.PLACE_NO = FR_PLACE_LIKE.PLACE_NO) AS likes
		     , PLACE.CREATE_DATE placeCreateDate
		     , IMAGE_NO imageNo
		     , IMG.CHANGE_NAME changeName
		     , IMG.IMAGE_LEVEL imageLevel
		     , TAG.TAG_NO tagNo
		     , TAG.TAG_TITLE tagTitle
		     , TAG.TAG_CONTENT tagContent
		  FROM
		  	   (
		  	   SELECT 
		  	          PLACE_NO
				    , PLACE_TITLE
				    , PLACE_CONTENT
				    , MEMBER_NO
				    , VIEW_COUNT
				    , (SELECT 
				              COUNT(*)
				         FROM
				              FR_PLACE_LIKE
				        WHERE
				              PLACE_NO = FR_PLACE_LIKE.PLACE_NO) AS LIKES
				    , CREATE_DATE
		  	     FROM
		  	          FR_PLACE
		  	    WHERE
		              STATUS = 'Y'
				 	<if test="keyword != ''">
				  AND
				       PLACE_TITLE LIKE '%' || #{keyword} || '%'
					</if>
		   		ORDER
				   BY 
				 <choose>
					<when test="order == 'likes'">
					  LIKES DESC
					</when>
					 <otherwise>
				       CREATE_DATE DESC
					 </otherwise>
				 </choose>
			   OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY	
		  	   ) PLACE
		  LEFT
		  JOIN
		       FR_MEMBER MEMBER ON (MEMBER.MEMBER_NO = PLACE.MEMBER_NO)
		  LEFT
		  JOIN
		       FR_PLACE_IMAGE IMG ON (PLACE.PLACE_NO = IMG.PLACE_NO AND IMAGE_LEVEL = 0 AND IMG.STATUS ='Y')
		  LEFT
		  JOIN
		       FR_PLACE_TAG PLACETAG ON (PLACETAG.PLACE_NO = PLACE.PLACE_NO)
		  LEFT
		  JOIN
		       FR_TAG TAG ON (PLACETAG.TAG_NO = TAG.TAG_NO)
		 ORDER
		    BY 
		    <choose>
				<when test="order == 'likes'">
			   LIKES DESC
				</when>
			    <otherwise>
		       PLACE.CREATE_DATE DESC
				</otherwise>
			</choose>
		
		
		
	</select>
	
	<insert id="savePlace" parameterType="PlaceDTO">
		<selectKey resultType="long" keyProperty="placeNo" order="BEFORE">
			SELECT SEQ_PLACE_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT
		  INTO
		       FR_PLACE
		       (
		       PLACE_NO
		     , PLACE_TITLE
		     , PLACE_CONTENT
		     , MEMBER_NO
		     , CREATE_DATE
		     , STATUS
		       )
		VALUES
		       (
		       #{placeNo}
		     , #{placeTitle}
		     , #{placeContent}
		     , #{placeWriter}
		     , SYSDATE
		     , 'Y'
		       )
		
	</insert>
	
	<insert id="saveTagsByPlaceNo" parameterType="map">
	INSERT ALL
		 <foreach collection="tagNums" item="tagNo">
		  INTO
		       FR_PLACE_TAG
		       (
		       TAG_NO
		     , PLACE_NO
		     , CREATE_DATE
		       )
		VALUES
		       (
		       #{tagNo}
		     , #{placeNo}
		     , SYSDATE
		       )
		</foreach>
		SELECT
		       *
		  FROM
		       DUAL
	</insert>
	
	<insert id="saveImage" parameterType="PlaceImage">
		INSERT
		  INTO
		       FR_PLACE_IMAGE
		       (
		       IMAGE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , PLACE_NO
		     , CREATE_DATE
		     , STATUS
		     , IMAGE_LEVEL
		       )
		VALUES
		       (
		       SEQ_PLACE_IMAGE_NO.NEXTVAL
		     , #{originName}
		     , #{changeName}
		     , #{refPlaceNo}
		     , SYSDATE
		     , 'Y'
		     , #{imageLevel}
		       )
	</insert>
	
	<update id="updateViewCount" parameterType="long">
		UPDATE
		       FR_PLACE
		   SET
		       VIEW_COUNT = VIEW_COUNT + 1
		 WHERE
		       STATUS = 'Y'
		   AND
		       PLACE_NO = #{placeNo}
		
		
	</update>
	
	<select id="findPlaceByPlaceNo" resultType="PlaceDTO" parameterType="long">
		SELECT
			   PLACE_NO placeNo
			 , PLACE_TITLE placeTitle
			 , PLACE_CONTENT placeContent
			 , NICKNAME placeWriter
			 , VIEW_COUNT viewCount
			 , PLACE.CREATE_DATE createDate
		  FROM
		       FR_PLACE PLACE
		  JOIN
		       FR_MEMBER USING (MEMBER_NO)
		 WHERE
		       PLACE_NO = #{placeNo}
		   AND
		       PLACE.STATUS = 'Y'
	</select>
	
	<select id="findImagesByPlaceNo" resultType="PlaceImageDTO" parameterType="long">
		SELECT
		       IMAGE_NO imageNo
		     , ORIGIN_NAME originName
		     , CHANGE_NAME changeName
		     , IMAGE_LEVEL imageLevel
		  FROM
		       FR_PLACE_IMAGE 
		 WHERE
		       STATUS = 'Y'
		   AND
		       PLACE_NO = #{placeNo}
		 ORDER
		    BY
		       IMAGE_LEVEL ASC, CREATE_DATE DESC
	</select>
	
	<select id="findTagsByPlaceNo" resultType="TagDTO" parameterType="long">
		SELECT
		       TAG_NO tagNo
		     , TAG_TITLE tagTitle
		     , TAG_CONTENT tagContent
		  FROM
		       FR_TAG
		  LEFT
		  JOIN
		       FR_PLACE_TAG USING (TAG_NO)
		 WHERE
		       STATUS = 'Y'
		   AND
		       PLACE_NO = #{placeNo}
		 ORDER
		    BY
		       TAG_NO ASC
	</select>
	
	<select id="findRepliesByPlaceNo" resultType="PlaceReplyDTO" parameterType="long">
		SELECT
		       REPLY_NO replyNo
		     , REPLY_CONTENT replyContent
		     , NICKNAME replyWriter
		     , (SELECT 
		               COUNT(*)
		          FROM
		               FR_PLACE_REPLY_LIKE
		         WHERE
		               REPLY.REPLY_NO = FR_PLACE_REPLY_LIKE.REPLY_NO) AS likes
		     , REPLY.CREATE_DATE createDate
		  FROM
		       FR_PLACE_REPLY REPLY
		  JOIN
		       FR_MEMBER USING (MEMBER_NO)
		 WHERE
		       REPLY.STATUS = 'Y'
		   AND
		       PLACE_NO = #{placeNo}
		 ORDER
		    BY
		       REPLY.CREATE_DATE DESC
	</select>
	
	<update id="updatePlace" parameterType="PlaceDTO">
		UPDATE
		       FR_PLACE
		   SET
		       PLACE_TITLE = #{placeTitle}
		     , PLACE_CONTENT = #{placeContent}
		     , UPDATE_DATE = SYSDATE
		 WHERE
		       STATUS = 'Y'
		   AND
		       PLACE_NO = #{placeNo}
		
	</update>
	
	<update id="deleteImage" parameterType="long">
		UPDATE
		       FR_PLACE_IMAGE
		   SET
		       STATUS = 'N'
		     , DELETE_DATE = SYSDATE
		 WHERE
		       IMAGE_NO = #{imageNo}
		   AND
		       STATUS = 'Y'
	</update>
	
	<delete id="deleteTags" parameterType="long">
		DELETE
		  FROM
		       FR_PLACE_TAG
		 WHERE
		       PLACE_NO = #{placeNo}
		
	</delete>
	
</mapper>