<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.foodreport.domain.review.model.dao.ReviewMapper">
	
	<insert id="saveReview" parameterType="ReviewDTO">
		<selectKey resultType="long" keyProperty="reviewNo" order="BEFORE">
			SELECT SEQ_REVIEW_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT
		  INTO
		       FR_REVIEW
		       (
		       REVIEW_NO
		     , REVIEW_TITLE
		     , REVIEW_CONTENT
		     , MEMBER_NO
		     , CREATE_DATE
		     , STATUS
		       )
		VALUES
		       (
		       #{reviewNo}
		     , #{reviewTitle}
		     , #{reviewContent}
		     , #{reviewWriter}
		     , SYSDATE
		     , 'Y'
		       )		
	</insert>
	
	<insert id="saveImage" parameterType="ReviewImage">
		INSERT
		  INTO
		       FR_REVIEW_IMAGE
		       (
		       IMAGE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , REVIEW_NO
		     , CREATE_DATE
		     , STATUS
		     , IMAGE_LEVEL
		       )
		VALUES
		       (
		       SEQ_REVIEW_IMAGE_NO.NEXTVAL
		     , #{originName}
		     , #{changeName}
		     , #{refReviewNo}
		     , SYSDATE
		     , 'Y'
		     , #{imageLevel}
		       )
	</insert>
	
	<select id="countByReviews" resultType="_int" parameterType="map">
		
		SELECT
		       COUNT(*)
		  FROM
		       FR_REVIEW
		  <if test="keyword != ''">
		 WHERE
			   REVIEW_TITLE LIKE '%' || #{keyword} || '%'
		  </if>
		       
    </select>
	
	<resultMap id="findAllReviews" type="ReviewDTO">
		<id column="REVIEW_NO" property="reviewNo"/>
		<result column="REVIEW_TITLE" property="reviewTitle"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="MEMBER_NO" property="reviewWriter" />
		<result column="VIEW_COUNT" property="viewCount"/>
		<result column="LIKES" property="likes" />
		<result column="CREATE_DATE" property="createDate" />
		<collection property="reviewImages" ofType="ReviewImageDTO">
			<id column="IMAGE_NO" property="imageNo"/>
			<result column="CHANGE_NAME" property="changeName"/>
			<result column="IMAGE_LEVEL" property="imageLevel"/>
		</collection>
	</resultMap>
	
	<select id="findAllReviews" resultMap="findAllReviews" parameterType="map">
		SELECT
		       REVIEW_NO
		     , REVIEW_TITLE
		     , REVIEW_CONTENT
		     , MEMBER_NO
		     , VIEW_COUNT
		     , (SELECT 
		               COUNT(*)
		          FROM
		               FR_REVIEW_LIKE
		         WHERE
		               REVIEW_NO = FR_REVIEW_LIKE.REVIEW_NO) AS LIKES
		     , REVIEW.CREATE_DATE
		     , IMAGE_NO
		     , IMG.CHANGE_NAME
		     , IMG.IMAGE_LEVEL
		  FROM
		       FR_REVIEW REVIEW
		  LEFT
		  JOIN
		       FR_REVIEW_IMAGE IMG USING (REVIEW_NO)
		 WHERE
		       REVIEW.STATUS = 'Y'
		   AND
		       IMAGE_LEVEL = 0
		 	<if test="keyword != ''">
		   AND
		       REVIEW_TITLE LIKE '%' || #{keyword} || '%'
			</if>
		 ORDER
		    BY 
		    <choose>
				<when test="order == 'likes'">
			   LIKES DESC
				</when>
			    <otherwise>
		       REVIEW.CREATE_DATE DESC
				</otherwise>
			</choose>
		
		
	</select>
	
	
</mapper>