<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.foodreport.domain.review.model.dao.ReviewMapper">
	
	<insert id="saveReview" parameterType="ReviewDTO">
		<selectKey resultType="long" keyProperty="reviewNo" order="BEFORE">
			SELECT SEQ_REVIEW_NO.NEXTVAL FROM DUAL
		</selectKey>
		INSERT
		  INTO
		       FR_REVIEW
		       (
		       REVIEW_NO
		     , REVIEW_TITLE
		     , REVIEW_CONTENT
		     , MEMBER_NO
		     , CREATE_DATE
		     , STATUS
		       )
		VALUES
		       (
		       #{reviewNo}
		     , #{reviewTitle}
		     , #{reviewContent}
		     , #{reviewWriter}
		     , SYSDATE
		     , 'Y'
		       )		
	</insert>
	
	<insert id="saveImage" parameterType="ReviewImage">
		INSERT
		  INTO
		       FR_REVIEW_IMAGE
		       (
		       IMAGE_NO
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , REVIEW_NO
		     , CREATE_DATE
		     , STATUS
		     , IMAGE_LEVEL
		       )
		VALUES
		       (
		       SEQ_REVIEW_IMAGE_NO.NEXTVAL
		     , #{originName}
		     , #{changeName}
		     , #{refReviewNo}
		     , SYSDATE
		     , 'Y'
		     , #{imageLevel}
		       )
	</insert>
	
	<select id="countByReviews" resultType="_int" parameterType="map">
		
		SELECT
		       COUNT(*)
		  FROM
		       FR_REVIEW
		  <if test="keyword != ''">
		 WHERE
			   REVIEW_TITLE LIKE '%' || #{keyword} || '%'
		  </if>
		       
    </select>
	
	<resultMap id="findAllReviews" type="ReviewDTO">
		<id column="REVIEW_NO" property="reviewNo"/>
		<result column="REVIEW_TITLE" property="reviewTitle"/>
		<result column="REVIEW_CONTENT" property="reviewContent"/>
		<result column="MEMBER_NO" property="reviewWriter" />
		<result column="VIEW_COUNT" property="viewCount"/>
		<result column="LIKES" property="likes" />
		<result column="CREATE_DATE" property="createDate" />
		<collection property="reviewImages" ofType="ReviewImageDTO">
			<id column="IMAGE_NO" property="imageNo"/>
			<result column="CHANGE_NAME" property="changeName"/>
			<result column="IMAGE_LEVEL" property="imageLevel"/>
		</collection>
	</resultMap>
	
	<select id="findAllReviews" resultMap="findAllReviews" parameterType="map">
		SELECT
		       REVIEW_NO
		     , REVIEW_TITLE
		     , REVIEW_CONTENT
		     , MEMBER_NO
		     , VIEW_COUNT
		     , (SELECT 
		               COUNT(*)
		          FROM
		               FR_REVIEW_LIKE
		         WHERE
		               REVIEW_NO = FR_REVIEW_LIKE.REVIEW_NO) AS LIKES
		     , REVIEW.CREATE_DATE
		     , IMAGE_NO
		     , IMG.CHANGE_NAME
		     , IMG.IMAGE_LEVEL
		  FROM
		       FR_REVIEW REVIEW
		  LEFT
		  JOIN
		       FR_REVIEW_IMAGE IMG USING (REVIEW_NO)
		 WHERE
		       REVIEW.STATUS = 'Y'
		   AND
		       IMAGE_LEVEL = 0
		 	<if test="keyword != ''">
		   AND
		       REVIEW_TITLE LIKE '%' || #{keyword} || '%'
			</if>
		 ORDER
		    BY 
		    <choose>
				<when test="order == 'likes'">
			   LIKES DESC
				</when>
			    <otherwise>
		       REVIEW.CREATE_DATE DESC
				</otherwise>
			</choose>
		
		
	</select>
	
	<update id="updateViewCount" parameterType="long">
		UPDATE
		       FR_REVIEW
		   SET
		       VIEW_COUNT = VIEW_COUNT + 1
		 WHERE
		       REVIEW_NO = #{reviewNo}
	</update>
	
	<resultMap id="findByReviewNo" type="ReviewDTO">
		<id column="reviewNo" property="reviewNo"/>
		<result column="reviewTitle" property="reviewTitle"/>
		<result column="reviewContent" property="reviewContent"/>
		<result column="reviewWriter" property="reviewWriter" />
		<result column="viewCount" property="viewCount"/>
		<result column="likes" property="likes" />
		<result column="reviewCreateDate" property="createDate" />
		<collection property="reviewImages" ofType="ReviewImageDTO">
			<id column="imageNo" property="imageNo"/>
			<result column="changeName" property="changeName"/>
			<result column="imageCreateDate" property="createDate" />
		</collection>
		<collection property="reviewReplies" ofType="ReviewReplyDTO">
			<id column="replyNo" property="replyNo"/>
			<result column="replyContent" property="replyContent"/>
			<result column="replyCreateDate" property="createDate"/>
			<result column="replyWriter" property="replyWriter"/>
		</collection>
		
	</resultMap>
	
	<select id="findByReviewNo" resultMap="findByReviewNo" parameterType="long">
		SELECT
			   REVIEW.REVIEW_NO reviewNo
		     , REVIEW_TITLE reviewTitle
		     , REVIEW_CONTENT reviewContent
		     , MEMBER.NICKNAME reviewWriter
		     , VIEW_COUNT viewCount
		     , (SELECT 
		               COUNT(*)
		          FROM
		               FR_REVIEW_LIKE
		         WHERE
		               REVIEW_NO = FR_REVIEW_LIKE.REVIEW_NO) AS likes
		     , REVIEW.CREATE_DATE reviewCreateDate
		     , IMAGE_NO imageNo
		     , IMG.CHANGE_NAME changeName
		     , IMG.CREATE_DATE imageCreateDate
		     , IMG.STATUS imageStatus
		     , REPLY.REPLY_NO replyNo
		     , REPLY.REPLY_CONTENT replyContent
		     , REPLY.CREATE_DATE replyCreateDate
		     , REPLYMEMBER.NICKNAME replyNickname
		  FROM
		       FR_REVIEW REVIEW
		  JOIN
		       FR_MEMBER MEMBER ON (MEMBER.MEMBER_NO = REVIEW.MEMBER_NO)
		  LEFT
		  JOIN
		       FR_REVIEW_IMAGE IMG ON (IMG.REVIEW_NO = REVIEW.REVIEW_NO AND IMG.STATUS = 'Y')
		  LEFT
		  JOIN
		       FR_REVIEW_REPLY REPLY ON (REPLY.REVIEW_NO = IMG.REVIEW_NO AND REPLY.STATUS = 'Y')
		  LEFT
		  JOIN
		       FR_MEMBER REPLYMEMBER ON (REPLYMEMBER.MEMBER_NO = REPLY.MEMBER_NO)
		 WHERE
		       REVIEW.STATUS = 'Y'
		   AND
		       REVIEW.REVIEW_NO = #{reviewNo}
		 ORDER
		    BY
		       IMG.IMAGE_LEVEL ASC,IMG.CREATE_DATE ASC,REPLY.CREATE_DATE DESC
		       
		
		
	</select>
	
	<update id="updateReview" parameterType="ReviewDTO">
		UPDATE
		       FR_REVIEW
		   SET
		       REVIEW_TITLE = #{reviewTitle}
		     , REVIEW_CONTENT = #{reviewContent}
		     , UPDATE_DATE = SYSDATE
		 WHERE
		       REVIEW_NO = #{reviewNo}
		   AND
		       STATUS = 'Y'
		
	</update>
	
	<select id="findImagesByReviewNo" resultType="ReviewImageDTO" parameterType="long">
		SELECT
		       IMAGE_NO imageNo
		     , ORIGIN_NAME originName
		     , CHANGE_NAME changeName
		  FROM
		       FR_REVIEW_IMAGE
		 WHERE
		       REVIEW_NO = #{reviewNo}
		   AND
		       STATUS = 'Y'
	</select>
	
	<update id="deleteImage" parameterType="long">
		UPDATE
		       FR_REVIEW_IMAGE
		   SET
		       STATUS = 'N'
		     , DELETE_DATE = SYSDATE
		 WHERE
		       IMAGE_NO = #{imageNo}
		   AND
		       STATUS = 'Y'
	</update>
	
	
	<update id="deleteReview" parameterType="long">
		UPDATE
		       FR_REVIEW
		   SET
		       STATUS = 'N'
		     , DELETE_DATE = SYSDATE
		 WHERE
		       STATUS = 'Y'
		   AND
		       REVIEW_NO = #{reviewNo}
		
	</update>
	
	<update id="deleteReplies" parameterType="long">
		UPDATE
		       FR_REVIEW_REPLY
		   SET
		       STATUS = 'N'
		     , DELETE_DATE = SYSDATE
		 WHERE
		       REVIEW_NO = #{reviewNo}
		   AND
		       STATUS = 'Y'
	</update>
	
	<insert id="saveReply" parameterType="ReviewReply">
		INSERT
		  INTO
		       FR_REVIEW_REPLY
		       (
		       REPLY_NO
		     , REPLY_CONTENT
		     , MEMBER_NO
		     , REVIEW_NO
		     , CREATE_DATE
		       )
	    VALUES
		       (
		       SEQ_REVIEW_REPLY_NO.NEXTVAL
		     , #{replyContent}
		     , #{replyWriter}
		     , #{refReviewNo}
		     , SYSDATE
		       )
	</insert>
	
	<select id="countLikeByMember" parameterType="ReviewLike">
		SELECT
		       COUNT(*)
		  FROM
		       FR_REVIEW_LIKE
		 WHERE
		       MEMBER_NO = #{memberNo}
		   AND 
		       REVIEW_NO = #{reviewNo}
	</select>
	
	<insert id="saveLike" parameterType="ReviewLike">
		INSERT
		  INTO
		       FR_REVIEW_LIKE
		       (
		       MEMBER_NO
		     , REVIEW_NO
		     , CREATE_DATE
		       )
		VALUES
		       (
		       #{memberNo}
		     , #{reviewNo}
		     , SYSDATE
		       )
		
	</insert>
	
	<delete id="deleteLike" parameterType="ReviewLike">
		DELETE
		  FROM
		       FR_REVIEW_LIKE
		 WHERE
		       MEMBER_NO = #{memberNo}
		   AND 
		       REVIEW_NO = #{reviewNo}
	</delete>
	
	
	
</mapper>