<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.foodreport.domain.token.model.dao.TokenMapper">
	
	<!-- 토큰 저장 -->
	<insert id="saveToken"
			parameterType="RefreshToken">
		INSERT 
		  INTO 
		  	   FR_TOKEN 
		VALUES 
			   (
			   SEQ_TOKEN_NO.NEXTVAL
			 , #{token}
			 , #{expiration}
			 , #{memberNo}
			   )
	</insert>
	
	<!-- 토큰 삭제 -->
	<update id="deleteToken"
			parameterType="long">	
		DELETE 
		  FROM 
		  	   FR_TOKEN
		 WHERE 
		 	   MEMBER_NO = #{memberNo}
	</update>
	
	
</mapper>